/*	Font Nunito Sans

https://fonts.google.com/specimen/Nunito+Sans
----------------------------------------------------- */
/*	VARIABLES
	BASE
----------------------------------------------------- */
/* ICON PATH
================================================== */
/* TYPEFACE
================================================== */
/* COLOR SCHEME
================================================== */
/* UI COLOR
================================================== */
/* UI
================================================== */
/* Animation
================================================== */
/* GFX
================================================== */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}
/*	Font Base
----------------------------------------------------- */
.tl-timeline {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.3em !important;
}
.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
  font-family: 'Nunito Sans', cursive !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 46px !important;
  line-height: 46px !important;
}
.tl-timeline h2.tl-headline-title {
  font-size: 58px !important;
  line-height: 58px !important;
}
.tl-timeline p {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.3em !important;
}
.tl-timeline ul {
  font-family: 'Nunito Sans', sans-serif !important;
}
.tl-timeline .tl-media .tl-media-wikipedia h4 a,
.tl-timeline .tl-media h4,
.tl-timeline .tl-media h4 a {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 24px !important;
}
.tl-timeline .tl-caption,
.tl-timeline .tl-credit {
  font-family: 'Nunito Sans', sans-serif !important;
}
.tl-timeline .vcard {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: normal !important;
}
.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous,
.tl-timeline .tl-message,
.tl-timeline .tl-timegroup-message {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 700 !important;
  text-transform: none !important;
}
.tl-timeline .tl-slidenav-next .tl-slidenav-title,
.tl-timeline .tl-slidenav-previous .tl-slidenav-title,
.tl-timeline .tl-message .tl-slidenav-title,
.tl-timeline .tl-timegroup-message .tl-slidenav-title {
  line-height: 1.3em !important;
}
.tl-timeline .tl-headline-date,
.tl-timeline h3.tl-headline-date {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: normal !important;
  text-transform: none !important;
}
.tl-timeline .tl-headline-date small,
.tl-timeline h3.tl-headline-date small {
  font-weight: normal !important;
}
.tl-timeline .tl-timenav-slider {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 700 !important;
}
.tl-timeline .tl-timenav-slider h2.tl-headline {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 700 !important;
  text-transform: none !important;
}
.tl-timeline .tl-timenav-slider .tl-timeaxis {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 700 !important;
  text-transform: none !important;
}
.tl-timeline .tl-menubar {
  font-family: 'Nunito Sans', sans-serif !important;
}
.tl-timeline blockquote,
.tl-timeline blockquote p {
  font-family: 'Nunito Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
}
input[type="text"].editor-headline {
  font-family: 'Nunito Sans', cursive !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 46px !important;
  line-height: 46px !important;
