/* Font Nunito Sans
https://fonts.google.com/specimen/Nunito+Sans
----------------------------------------------------- */

/* Font-Face Declarations */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cc9yAvth_Lor4Bxr.ttf) format('truetype');
}

/* Font Base */
.tl-timeline {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
}

.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
  font-family: 'Nunito Sans', cursive;
  text-transform: none;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #FFCB05; /* Changed text color */
}

.tl-timeline h2.tl-headline-title {
  font-size: 70px;
  line-height: 70px;
}

.tl-timeline p,
.tl-timeline ul {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 700;
  color: #FFCB05; /* Changed text color */
}

.tl-timeline .tl-media .tl-media-wikipedia h4 a,
.tl-timeline .tl-media h4,
.tl-timeline .tl-media h4 a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}

.tl-timeline .tl-caption,
.tl-timeline .tl-credit,
.tl-timeline .vcard {
  font-family: 'Nunito Sans', sans-serif;
  color: #FFCB05; /* Changed text color */
}

.tl-timeline .vcard {
  font-weight: 400;
}

.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous,
.tl-timeline .tl-message,
.tl-timeline .tl-timegroup-message {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  text-transform: none;
}

.tl-timeline .tl-slidenav-next .tl-slidenav-title,
.tl-timeline .tl-slidenav-previous .tl-slidenav-title,
.tl-timeline .tl-message .tl-slidenav-title,
.tl-timeline .tl-timegroup-message .tl-slidenav-title {
  line-height: 1.3em;
}

.tl-timeline .tl-headline-date,
.tl-timeline h3.tl-headline-date {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}

.tl-timeline .tl-headline-date small,
.tl-timeline h3.tl-headline-date small {
  font-weight: 700;
}

.tl-timeline .tl-timenav-slider,
.tl-timeline .tl-timenav-slider h2.tl-headline,
.tl-timeline .tl-timenav-slider .tl-timeaxis {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  text-transform: none;
}

.tl-timeline .tl-menubar {
  font-family: 'Nunito Sans', sans-serif;
}

.tl-timeline blockquote,
.tl-timeline blockquote p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 
